<%- include("partials/header"); -%>

<h1>Contact</h1>
<p><%= contactContent %></p>
<ul class="contacts" style="list-style-type:none;">
    <li><i class="fa-brands fa-facebook"></i> <a href="https://www.facebook.com/rosen.dobrev.9/" target="_blank">Facebook</a></li>
    <li><i class="fa-brands fa-linkedin"></i> <a href="https://www.linkedin.com/in/rosen-dobrev-003458252/" target="_blank">LinkedIn</a></li>
    <li><i class="fa-solid fa-envelope"></i> <a href ="mailto: rosendobrev@mail.bg">Email</a></li>
</ul>

<%- include("partials/footer"); -%>